# ASSIGNMENT CONFIG
generate:
    show_hidden: true
    public_multiplier: 1
init_cell: true
export_cell: false
environment: ./environment.yaml
requirements:
    - otter-grader==3.1.4
overwrite_requirements: true
run_tests: false
template_pdf: false

# DSC 80 - Discussion 02

### Due Date: Saturday April 9, 11:59 PM

**Discussions will be due by the end of the day on Saturday**

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# from discussion import *

### `DataFrames` in `Pandas` module

We can make a dataframe in `pandas` using the class constructor `pandas.DataFrame`.

For example, suppose we know that individual number one has the following attributes:

* Favorite letter: `a`
* Number of games played: `9`
* Points accumulated: `1`

and we know the same attributes for individuals two, three, and four. To go about constructing a dataframe in this way, we can use a list of `numpy ndarrays` where each entry corresponds to a row in the dataframe:

In [4]:
data = [
    ['a', 9, 1], # row 1
    ['b', 3, 2], # row 2
    ['c', 3, 2], # row 3
    ['z', 1, 10] # row 4
]

In [5]:
df1 = pd.DataFrame(data,                                     # rows of dataframe
                   columns = ['letter', 'count', 'points'])  # column names 
df1

  letter  count  points
0      a      9       1
1      b      3       2
2      c      3       2
3      z      1      10

Equivalently, we can define the same dataframe by specifying the columns instead of the rows:
* This way of defining a dataframe closely resembles how the dataframe stores its underlying data.
* Each column is homogeneous (represents the same type of quantity).

Here, we also specify an index:

In [6]:
dictionary = {'letter' : ['a', 'b', 'c', 'z'],  # {column name : values}
              'count'  : [ 9,   3,   3,    1],  # {column name : values}
              'points' : [ 1,   2,   2,   10]}  # {column name : values}
 
df2 = pd.DataFrame(data=dictionary, index='i0 i1 i2 i3'.split())
df2

   letter  count  points
i0      a      9       1
i1      b      3       2
i2      c      3       2
i3      z      1      10

### Summary: `DataFrame` Constructor

* `pd.DataFrame` creates a dataframe from:
    * A dictionary of columns (`df2` above)
    * A list of rows (`df1` above)
* Optional (default) arguments include:
    * `index`: can be array-like if your dataframe requires something other than a range from 0 to n
    * `columns`: labels may be provided for column names (similar to `'letter'`, `'count'`, and `'points'` above) 
    * `dtype`: `None` is the default, `pandas` will infer based on the content of your columns.
* Accepts any 'array-like' container (`list`, `np.ndarray`, `pd.Series`)
    * Note the difference [here](https://stackoverflow.com/questions/15879315/what-is-the-difference-between-ndarray-and-array-in-numpy) between `np.ndarray` and `np.array`!
    * The former is an actual data type, while the latter is a function to make arrays from other data structures.
* Create small DataFrames to debug and understand your code!
* DataFrame column labels:
    * Accessed using the `columns` attribute
    * Columns default to column number (0-indexed)

### Select an Index or Column From a Pandas DataFrame

In [7]:
# recall df2
df2

   letter  count  points
i0      a      9       1
i1      b      3       2
i2      c      3       2
i3      z      1      10

You want to access the value that is at index `0`, in column `count`. We saw in lecture a number of different ways to get our value `9` back.

In [8]:
df2.iloc[0]

letter    a
count     9
points    1
Name: i0, dtype: object

In [9]:
df2.iloc[0].loc['count']

9

In [10]:
df2.loc['i0'].loc['count']

9

The most important ones to remember are, without a doubt, `.loc[]` and `.iloc[]`.

#### `iloc`

* The `iloc` indexer for `Pandas Dataframe` is used for integer-location based indexing / selection by position.

* The `iloc` indexer syntax is `data.iloc[<row selection>`, `<column selection>]`. `iloc` in pandas is used to select rows and columns by number, in the order that they appear in the data frame. 

* You can imagine that each row has a row number from 0 to the total rows (`data.shape[0]`) and `iloc[]` allows selections based on these numbers. The same applies for columns (ranging from 0 to `data.shape[1]`)
    * Note that `.iloc` returns a `Pandas Series` when **one** row is selected, and a `Pandas DataFrame` when **multiple rows** are selected, or if any column in full is selected. 
    * To counter this, pass a single-valued list if you require `DataFrame` output.

In [11]:
print(type(df2.iloc[1]))        # result of type series because only one row selected

print(type(df2.iloc[[1]]))      # result of type dataframe because list selection used

print(type(df2.iloc[0:2]))      # result of type dataframe since only two rows are selected

print(type(df2.iloc[0:2, 1]))   # result of type series because only one column is selected

print(type(df2.iloc[0:2, [1]])) # result of type dataframe with only one column because list selection used

print(type(df2.iloc[0:2, 0:2])) # result of type dataframe because multiple rows and columns selected

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [12]:
print(df2.iloc[1], '\n')       # result of type series because only one row selecte

print(df2.iloc[[1]], '\n')      # result of type dataframe because list selection used

print(df2.iloc[0:2], '\n')      # result of type dataframe since only two rows are selected

print(df2.iloc[0:2, 1], '\n')   # result of type series because only one column is selected

print(df2.iloc[0:2, [1]], '\n') # result of type dataframe with only one column because list selection used

print(df2.iloc[0:2, 0:2], '\n') # result of type dataframe because multiple rows and columns selected

letter    b
count     3
points    2
Name: i1, dtype: object

   letter  count  points
i1      b      3       2

   letter  count  points
i0      a      9       1
i1      b      3       2

i0    9
i1    3
Name: count, dtype: int64

    count
i0      9
i1      3

   letter  count
i0      a      9
i1      b      3

####  `loc`

The `Pandas` `loc` indexer can be used with DataFrames for two different main use cases:

* Selecting rows by label/index
* Selecting rows with a boolean/conditional lookup

The `loc` indexer is used with the same syntax as `iloc`: `data.loc[<row selection>, <column selection>]`.

In [13]:
df2

   letter  count  points
i0      a      9       1
i1      b      3       2
i2      c      3       2
i3      z      1      10

In [14]:
# label/index lookup
df2.loc['i0']           # select first row

df2.loc['i0', 'count']        # select element in count column from first row

df2.loc[:, ['letter', 'count']]   # select letter and count columns; all rows

   letter  count
i0      a      9
i1      b      3
i2      c      3
i3      z      1

### Boolean conditional selection with `loc`

Recall that arrays can be compared using comparison operators (`<`,`>`,`==`,...), producing boolean arrays. These boolean arrays can be used to select rows according to those comparison conditions.

In [15]:
# boolean conditional lookup. What is the output of each of these (in plain english)?
df2.loc[df2['letter'] == 'a']

df2.loc[df2['count'] == 3, ['letter']]

df2.loc[:, df2.loc['i1'].apply(type) == np.int64]

    count  points
i0      9       1
i1      3       2
i2      3       2
i3      1      10

We can combine boolean expressions using the NOT,AND,OR,XOR operators, to create compound expressions for selecting rows of dataframes. In the table below are the operators that can be used to create boolean arrays:

![](bool_arr.png)

For example, if you want to select all rows where `count` is 3 or `score` is 7, but not BOTH:

In [16]:
count3 = df2['count'] == 3
score7 = df2['points'] == 10
bool_arr = count3 ^ score7
df2.loc[bool_arr]

   letter  count  points
i1      b      3       2
i2      c      3       2
i3      z      1      10

#### Practical row selection and column filtering

You can see the below examples which doesn't use `.loc` or `.iloc` methods to perform boolean row selection and/or column selection.

In summary, there are lot of ways to perform row/column selection and understanding the different ways and return types will provide lot of flexibility.

In [17]:
# Filter the DataFrame with points>1
df2[df2['points']>1]

# Filter the DataFrame to contain only letter and count columns
df2[['letter', 'count']]

# Filter the DataFrame with points>1 containing only count and points columns
df2[df2['points']>1][['count', 'points']]

    count  points
i1      3       2
i2      3       2
i3      1      10

## Modifying a Pandas `DataFrame`

### Adding an Index, Row, or Column to a Pandas DataFrame

#### Adding an Index to a Dataframe

* When you create a DataFrame, you have the option to add input to the `index` argument to make sure that you have the index that you desire. 
* When you don’t specify this, your `DataFrame` will have, by default, a numerically valued index that starts with 0 and continues until the last row of your `DataFrame`.
* However, even when your index is specified for you automatically, you still have the power to re-use one of your columns and make it your index. You can easily do this by calling `set_index()` on your DataFrame.

In [18]:
# let's make the 'letter' column our index
df2.set_index('letter')

        count  points
letter
a           9       1
b           3       2
c           3       2
z           1      10

#### Resetting the Index of Your DataFrame

* When your index doesn’t look entirely the way you want it to, you can opt to reset it. 
* You can easily do this with `.reset_index()`. 
* However, you should still watch out, as you can pass several arguments that can make or break the success of your reset.

In [19]:
# Use `reset_index()` to reset the values. 
df2_reset = df2.reset_index(drop=False)

# Print `df_reset`
df2_reset

  index letter  count  points
0    i0      a      9       1
1    i1      b      3       2
2    i2      c      3       2
3    i3      z      1      10

#### Deleting a Column from Your DataFrame

To get rid of (a selection of) columns from your DataFrame, you can use the drop() method:

In [20]:
df2.drop(['points'], axis=1)

   letter  count
i0      a      9
i1      b      3
i2      c      3
i3      z      1

In [21]:
# note: pandas methods return copies! Must reassign to change the dataframe
df2_dropped = df2.drop(['points'], axis=1)
df2_dropped

   letter  count
i0      a      9
i1      b      3
i2      c      3
i3      z      1

This is not so straightforward; there are some extra arguments that are passed to the drop() method!

* The axis argument is either 0 when it indicates rows and 1 when it is used to drop columns.
* While Pandas has an `inplace` keyword to delete the column without having to reassign the DataFrame, **you should never use it**. Pandas code should always be written to return copies; this keyword will be removed in the future.

You can also use `loc` to filter columns using boolean arrays:

In [22]:
df2.loc[:, ~(df2.columns == 'points')]

   letter  count
i0      a      9
i1      b      3
i2      c      3
i3      z      1

#### Removing a Row from Your DataFrame

You can remove rows most easily using the `loc` selector and creating appropriate conditions. There are also methods that drop rows based on common needs (`drop_duplicates`, `dropna`).

Below are methods to drop the row corresponding to index `c`:

In [23]:
df2

   letter  count  points
i0      a      9       1
i1      b      3       2
i2      c      3       2
i3      z      1      10

In [24]:
# rarely used, but works

# let's make the 'letter' column our index
df2_c = df2.set_index('letter')

df2_c.drop('c', axis=0)

        count  points
letter
a           9       1
b           3       2
z           1      10

In [25]:
# better: conditioning using boolean arrays
# '~' means 'not'

df2_c.loc[~(df2_c.index == 'c')]

        count  points
letter
a           9       1
b           3       2
z           1      10

#### Sorting Pandas DataFrames

Use `sort_values()` method to sort the DataFrame based on certain columns. You can specity multiple columns as a list, and specify the order of sorting as well.

In [26]:
# Sort based on 'points' in descending order
df2_sorted = df2.sort_values('points', ascending=False)
df2_sorted

   letter  count  points
i3      z      1      10
i1      b      3       2
i2      c      3       2
i0      a      9       1

#### Create new columns

You can create new columns by performing operations on existing columns

In [27]:
df3 = df2

# Create a 'not_z' column based on 'letter'
df3['not_z'] = df3['letter']!='z'

# Create
df3['count_multiply_points'] = df3['count'] * df3['points']

df3

   letter  count  points  not_z  count_multiply_points
i0      a      9       1   True                      9
i1      b      3       2   True                      6
i2      c      3       2   True                      6
i3      z      1      10  False                     10

#### 'apply' method

`apply` method is used to apply a custom function to one or more rows/columns

In [28]:
# Create a 'win_or_lose' columns based on points
def win_or_lose(n):
    return 'Win' if n==10 else 'Lose'

In [29]:
df3 = df2
df3['win_or_lose'] = df3['points'].apply(win_or_lose)
df3

   letter  count  points  not_z  count_multiply_points win_or_lose
i0      a      9       1   True                      9        Lose
i1      b      3       2   True                      6        Lose
i2      c      3       2   True                      6        Lose
i3      z      1      10  False                     10         Win

## Summary: Top Pandas Operations that you will encounter

- Create empty DataFrames and add columns to it
- Create DataFrames from list of rows
- Create DataFrames from column series'
- Select/Drop rows based on conditions
- Select/Drop few columns
- Slicing columns based on their positions
- Sort rows based on certain column values
- Create new columns based on existing columns
- Apply function to DataFrame columns


- Aggregations
- Groupby and aggregations
- Merging/Joining/Combining DataFrames

(The last three will be discussed in detail in the next discussion)

## Tutorial: DataFrame Manipulation in Pandas

In [30]:
# What is this? (discuss imports)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
# from discussion import *

In [32]:
import numpy as np
import pandas as pd
import os

# BEGIN QUESTION
name: q1
points: 6

**Question 1**: Construct a DataFrame which takes in a dictionary of lists `data` which has the index `labels`. The example of lists in `data` and `labels` is given below.

```
names = ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas']
scores = [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]
attempts = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
qualify = ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

Once you have done this in the notebook, write a function `question01` in the `py` file that takes data (a collection of columns) and labels and that outputs this dataframe.

# BEGIN SOLUTION

In [33]:
def question01(data, labels):
    """
    Returns a dataframe from the
    given data (a dictionary of lists),
    and list of labels.

    >>> data = {'column1': [0,3,5,6], 'column2': [1,3,2,4]}
    >>> labels = 'a b c d'.split()
    >>> out_q1 = question01(data, labels)
    >>> isinstance(out_q1, pd.DataFrame)
    True
    >>> out_q1.index.tolist() == labels
    True
    >>> out_q1.loc['c', 'column1'] == 5
    True
    """
    # BEGIN SOLUTION
    out = pd.DataFrame(data, index=labels)

    return out
    # END SOLUTION

# END SOLUTION

In [34]:
data = {'column1': [0, 3, 5, 6], 'column2': [1, 3, 2, 4]}
labels = 'a b c d'.split()
out_q1 = question01(data, labels)

# BEGIN TESTS

In [35]:
""" # BEGIN TEST CONFIG
points: 2
failure_message: 'doctest'
""" # END TEST CONFIG
isinstance(out_q1, pd.DataFrame)

True

In [36]:
""" # BEGIN TEST CONFIG
points: 2
failure_message: 'doctest'
""" # END TEST CONFIG
out_q1.index.tolist() == labels

True

In [37]:
""" # BEGIN TEST CONFIG
points: 2
failure_message: 'check entries'
""" # END TEST CONFIG
out_q1.loc['c', 'column1'] == 5

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2
points: 4

**Question 2**: Find the index-labels of numbers that are multiples of 3 and return them as an index object. Once finished, put your work in `question02` of the `py` file. 

That is, create a function `question02` that takes in a series like `ser` and outputs the index-labels that correspond to values that are multiples of 3.

# BEGIN SOLUTION

In [38]:
def question02(ser):
    """
    Given a Pandas Series, outputs the
    positions (an index or array) of 
    entries of ser that are multiples of 3.
    
    >>> out1_q2 = question02(pd.Series([1, 3, 6, 9]))
    >>> out2_q2 = question02(pd.Series([3, 6, 1, 9]))
    >>> out1_q2.tolist() == [1, 2, 3]
    True
    >>> out2_q2.tolist() == [0, 1, 3]
    True
    """
    # BEGIN SOLUTION
    out = ser.loc[ser % 3 == 0].index
    
    return out
    # END SOLUTION

# END SOLUTION

In [39]:
out1_q2 = question02(pd.Series([1, 3, 6, 9]))
out2_q2 = question02(pd.Series([3, 6, 1, 9]))
out2_q2

Int64Index([0, 1, 3], dtype='int64')

# BEGIN TESTS

In [40]:
""" # BEGIN TEST CONFIG
points: 2
failure_message: 'doctest'
""" # END TEST CONFIG
out1_q2.tolist() == [1, 2, 3]

True

In [41]:
""" # BEGIN TEST CONFIG
points: 2
failure_message: 'doctest'
""" # END TEST CONFIG
out2_q2.tolist() == [0, 1, 3]

True

# END TESTS

# END QUESTION

## Congratulations! You're done!

* Submit your `.py` file to Gradescope. Note that you only need to submit the `.py` file; this notebook should not be uploaded. Make sure that all of your work is in the `.py` file by running the doctests: `python -m doctest discussion.py`.

# !python -m doctest discussion.py